# Fixing `air_pollution_score` Data Type
- 2008: convert string to float
- 2018: convert int to float

In [36]:
# loading the datasets
import pandas as pd

df08 = pd.read_csv('data_08_v3.csv')
df18 = pd.read_csv('data_18_v3.csv')

In [37]:
df18['air_pollution_score'].value_counts()

3    372
5    187
7    139
1     89
6      7
Name: air_pollution_score, dtype: int64

In [38]:
# try using pandas' to_numeric or astype function to convert the
# 2008 air_pollution_score column to float -- this won't work
df08['air_pollution_score'] = df08['air_pollution_score'].astype(float)

ValueError: could not convert string to float: '6/4'

In [39]:
df08[df08.air_pollution_score == '6/4']

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
582,MERCEDES-BENZ C300,3.0,6,Auto-L7,2WD,ethanol/gas,small car,6/4,13/18,19/25,15/21,7/6,no

# It's not just the air pollution score!
The mpg columns and greenhouse gas scores also seem to have the same problem - maybe that's why these were all saved as strings! According to [this link](http://www.fueleconomy.gov/feg/findacarhelp.shtml#airPollutionScore), which I found from the PDF documentation:

    "If a vehicle can operate on more than one type of fuel, an estimate is provided for each fuel type."
    
Ohh... so all vehicles with more than one fuel type, or hybrids, like the one above (it uses ethanol AND gas) will have a string that holds two values - one for each. This is a little tricky, so I'm going to show you how to do it with the 2008 dataset, and then you'll try it with the 2018 dataset.

In [40]:
# First, let's get all the hybrids in 2008
hb08 = df08[df08['fuel'].str.contains('/')]
hb08

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
582,MERCEDES-BENZ C300,3.0,6,Auto-L7,2WD,ethanol/gas,small car,6/4,13/18,19/25,15/21,7/6,no

In [41]:
# hybrids in 2018
hb18 = df18[df18['fuel'].str.contains('/')]
hb18

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
52,BMW 330e,2.0,4,SemiAuto-8,2WD,Gasoline/Electricity,small car,3,28/66,34/78,30/71,10,Yes
78,BMW 530e,2.0,4,SemiAuto-8,2WD,Gasoline/Electricity,small car,7,27/70,31/75,29/72,10,Elite
79,BMW 530e,2.0,4,SemiAuto-8,4WD,Gasoline/Electricity,small car,7,27/66,31/68,28/67,10,Elite
92,BMW 740e,2.0,4,SemiAuto-8,4WD,Gasoline/Electricity,large car,3,25/62,29/68,27/64,9,Yes
189,CHEVROLET Impala,3.6,6,SemiAuto-6,2WD,Ethanol/Gas,large car,5,14/18,20/28,16/22,4,No
195,CHEVROLET Silverado 15,4.3,6,Auto-6,2WD,Ethanol/Gas,pickup,5,12/18,16/24,14/20,4,No
196,CHEVROLET Silverado 15,4.3,6,Auto-6,4WD,Ethanol/Gas,pickup,5,12/17,15/22,13/19,3,No
197,CHEVROLET Silverado 15,5.3,8,Auto-6,2WD,Ethanol/Gas,pickup,3,12/16,17/23,14/19,3,No
212,CHEVROLET Suburban 1500,5.3,8,Auto-6,2WD,Ethanol/Gas,standard SUV,3,12/16,17/23,14/19,3,No
214,CHEVROLET Suburban 1500,5.3,8,Auto-6,4WD,Ethanol/Gas,standard SUV,3,11/16,15/22,12/18,3,No
216,CHEVROLET Tahoe 1500,5.3,8,Auto-6,2WD,Ethanol/Gas,standard SUV,3,12/16,17/23,14/19,3,No
218,CHEVROLET Tahoe 1500,5.3,8,Auto-6,4WD,Ethanol/Gas,standard SUV,3,11/16,16/22,13/18,3,No
225,CHEVROLET Volt,1.5,4,CVT,2WD,Gasoline/Electricity,small car,3,43/113,42/99,42/106,10,Yes
226,CHEVROLET Volt,1.5,4,CVT,2WD,Gasoline/Electricity,small car,7,43/113,42/99,42/106,10,Elite
227,CHRYSLER 300,3.6,6,Auto-8,2WD,Ethanol/Gas,large car,3,14/19,22/30,17/23,5,No
229,CHRYSLER 300,3.6,6,Auto-8,4WD,Ethanol/Gas,large car,3,13/18,20/27,16/21,4,No
244,DODGE Charger,3.6,6,Auto-8,2WD,Ethanol/Gas,large car,3,14/19,22/30,17/23,5,No
246,DODGE Charger,3.6,6,Auto-8,4WD,Ethanol/Gas,large car,3,13/18,20/27,16/21,4,No
300,FORD Fusion Energi Plug-in Hybrid,2.0,4,CVT,2WD,Gasoline/Electricity,midsize car,7,43/102,41/91,42/97,10,Elite
326,GMC Sierra 15,4.3,6,Auto-6,2WD,Ethanol/Gas,pickup,5,12/18,16/24,14/20,4,No
327,GMC Sierra 15,4.3,6,Auto-6,4WD,Ethanol/Gas,pickup,5,12/17,15/22,13/19,3,No
328,GMC Sierra 15,5.3,8,Auto-6,2WD,Ethanol/Gas,pickup,3,12/16,17/23,14/19,3,No
345,GMC Yukon 1500,5.3,8,Auto-6,2WD,Ethanol/Gas,standard SUV,3,12/16,17/23,14/19,3,No
347,GMC Yukon 1500,5.3,8,Auto-6,4WD,Ethanol/Gas,standard SUV,3,11/16,16/22,13/18,3,No
351,GMC Yukon 1500 XL,5.3,8,Auto-6,2WD,Ethanol/Gas,standard SUV,3,12/16,17/23,14/19,3,No
354,GMC Yukon XL 1500,5.3,8,Auto-6,4WD,Ethanol/Gas,standard SUV,3,11/16,15/22,12/18,3,No
442,JEEP Cherokee,2.4,4,Auto-9,2WD,Ethanol/Gas,small SUV,3,15/21,22/30,18/25,5,No
444,JEEP Cherokee,2.4,4,Auto-9,4WD,Ethanol/Gas,small SUV,3,14/21,21/28,17/23,5,No
462,KARMA Revero,2.0,4,Auto-1,2WD,Gasoline/Electricity,small car,1,20/59,21/61,20/60,10,No
571,MERCEDES-BENZ CLA250 4Matic,2.0,4,AutoMan-7,4WD,Ethanol/Gas,small car,5,17/24,24/32,20/27,6,No
578,MERCEDES-BENZ GLA250 4Matic,2.0,4,AutoMan-7,4WD,Ethanol/Gas,small SUV,5,17/23,23/31,19/26,5,No
584,MERCEDES-BENZ GLE350 4Matic,3.5,6,Auto-7,4WD,Ethanol/Gas,standard SUV,3,13/18,17/22,14/19,3,No
616,MINI Cooper SE Countryman All4,1.5,3,SemiAuto-6,4WD,Gasoline/Electricity,midsize car,3,28/63,27/66,27/65,9,Yes
742,TOYOTA Sequoia FFV,5.7,8,SemiAuto-6,4WD,Ethanol/Gas,standard SUV,5,9/13,13/17,10/14,1,No
747,TOYOTA Tundra FFV,5.7,8,SemiAuto-6,4WD,Ethanol/Gas,pickup,5,9/13,12/17,10/15,2,No
777,VOLVO S90,2.0,4,SemiAuto-8,4WD,Gasoline/Electricity,midsize car,7,26/70,33/72,29/71,10,Elite
789,VOLVO XC 60,2.0,4,SemiAuto-8,4WD,Gasoline/Electricity,small SUV,7,26/60,28/58,26/59,10,Elite
793,VOLVO XC 90,2.0,4,SemiAuto-8,4WD,Gasoline/Electricity,standard SUV,7,26/63,30/61,27/62,10,Elite

We're going to take each hybrid row and split them into two new rows - one with values for the first fuel type (values before the "/"), and the other with values for the second fuel type (values after the "/"). Let's separate them with two dataframes!

In [42]:
# create two copies of the 2008 hybrids dataframe
df1 = hb08.copy()  # data on first fuel type of each hybrid vehicle
df2 = hb08.copy()  # data on second fuel type of each hybrid vehicle

In [43]:
# columns to split by "/"
split_columns = ['fuel', 'air_pollution_score', 'city_mpg', 'hwy_mpg', 'cmb_mpg', 'greenhouse_gas_score']

# apply split function to each column of each dataframe copy
for c in split_columns:
    df1[c] = df1[c].apply(lambda x: x.split("/")[0])
    df2[c] = df2[c].apply(lambda x: x.split("/")[1])

In [44]:
# this dataframe holds info for the FIRST fuel type of the hybrid
# aka the values before the "/"s
df1

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
582,MERCEDES-BENZ C300,3.0,6,Auto-L7,2WD,ethanol,small car,6,13,19,15,7,no

In [45]:
# this dataframe holds info for the SECOND fuel type of the hybrid
# aka the values after the "/"s
df2

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
582,MERCEDES-BENZ C300,3.0,6,Auto-L7,2WD,gas,small car,4,18,25,21,6,no

In [46]:
# combine dataframes to add to the original dataframe
new_rows = df1.append(df2)

# now we have separate rows for each fuel type of each vehicle!
new_rows

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
582,MERCEDES-BENZ C300,3.0,6,Auto-L7,2WD,ethanol,small car,6,13,19,15,7,no
582,MERCEDES-BENZ C300,3.0,6,Auto-L7,2WD,gas,small car,4,18,25,21,6,no

In [47]:
# drop the original hybrid rows
df08.drop(hb08.index, inplace=True)

# add in our newly separated rows
df08 = df08.append(new_rows, ignore_index=True)

In [48]:
# check that all the original hybrid rows with "/"s are gone
df08[df08['fuel'].str.contains('/')]

Empty DataFrame
Columns: [model, displ, cyl, trans, drive, fuel, veh_class, air_pollution_score, city_mpg, hwy_mpg, cmb_mpg, greenhouse_gas_score, smartway]
Index: []

In [49]:
df08.shape

(987, 13)

# Repeat this process for the 2018 dataset

In [50]:
# create two copies of the 2018 hybrids dataframe, hb8
df1 = hb18.copy()  # data on first fuel type of each hybrid vehicle
df2 = hb18.copy()  # data on second fuel type of each hybrid vehicle

### Split values for `fuel`, `city_mpg`, `hwy_mpg`, `cmb_mpg`
You don't need to split for `air_pollution_score` or `greenhouse_gas_score` here because these columns are already ints in the 2018 dataset.

In [51]:
# list of columns to split
split_columns =  ['fuel', 'city_mpg', 'hwy_mpg', 'cmb_mpg']

# apply split function to each column of each dataframe copy
for c in split_columns:
    df1[c] = df1[c].apply(lambda x: x.split("/")[0])
    df2[c] = df2[c].apply(lambda x: x.split("/")[1])

In [52]:
# append the two dataframes
new_rows = df1.append(df2)

# drop each hybrid row from the original 2018 dataframe
# do this by using pandas' drop function with hb_18's index
df18.drop(hb18.index, inplace=True)

# append new_rows to df_18
df18 = df18.append(new_rows, ignore_index=True)

In [53]:
# check that they're gone
df18[df18['fuel'].str.contains('/')]

Empty DataFrame
Columns: [model, displ, cyl, trans, drive, fuel, veh_class, air_pollution_score, city_mpg, hwy_mpg, cmb_mpg, greenhouse_gas_score, smartway]
Index: []

In [54]:
df18.shape

(832, 13)

### Now we can comfortably continue the changes needed for `air_pollution_score`! Here they are again:
- 2008: convert string to float
- 2018: convert int to float

In [55]:
# convert string to float for 2008 air pollution column
df08['air_pollution_score'] = df08['air_pollution_score'].astype(float)

In [61]:
# convert int to float for 2018 air pollution column
df18['air_pollution_score'] = df18['air_pollution_score'].astype(float)

In [66]:
df08.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 987 entries, 0 to 986
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   model                 987 non-null    object
 1   displ                 987 non-null    float64
 2   cyl                   987 non-null    int64
 3   trans                 987 non-null    object
 4   drive                 987 non-null    object
 5   fuel                  987 non-null    object
 6   veh_class             987 non-null    object
 7   air_pollution_score   987 non-null    float64
 8   city_mpg              987 non-null    object
 9   hwy_mpg               987 non-null    object
 10  cmb_mpg               987 non-null    object
 11  greenhouse_gas_score  987 non-null    object
 12  smartway              987 non-null    object
dtypes: float64(2), int64(1), object(10)
memory usage: 100.4+ KB

In [64]:
df18.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 832 entries, 0 to 831
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   model                 832 non-null    object
 1   displ                 832 non-null    float64
 2   cyl                   832 non-null    int64
 3   trans                 832 non-null    object
 4   drive                 832 non-null    object
 5   fuel                  832 non-null    object
 6   veh_class             832 non-null    object
 7   air_pollution_score   832 non-null    float64
 8   city_mpg              832 non-null    object
 9   hwy_mpg               832 non-null    object
 10  cmb_mpg               832 non-null    object
 11  greenhouse_gas_score  832 non-null    int64
 12  smartway              832 non-null    object
dtypes: float64(2), int64(2), object(9)
memory usage: 84.6+ KB

In [67]:
df08.to_csv('data_08_v4.csv', index=False)
df18.to_csv('data_18_v4.csv', index=False)

In [68]:
df18.head(25)

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA RDX,3.5,6,SemiAuto-6,2WD,Gasoline,small SUV,3.0,20,28,23,5,No
1,ACURA RDX,3.5,6,SemiAuto-6,4WD,Gasoline,small SUV,3.0,19,27,22,4,No
2,ACURA TLX,2.4,4,AMS-8,2WD,Gasoline,small car,3.0,23,33,27,6,No
3,ACURA TLX,3.5,6,SemiAuto-9,2WD,Gasoline,small car,3.0,20,32,24,5,No
4,ACURA TLX,3.5,6,SemiAuto-9,4WD,Gasoline,small car,3.0,21,30,24,5,No
5,ACURA TLX AWD A-SPEC,3.5,6,SemiAuto-9,4WD,Gasoline,small car,3.0,20,29,23,5,No
6,ACURA TLX FWD A-SPEC,3.5,6,SemiAuto-9,2WD,Gasoline,small car,3.0,20,30,23,5,No
7,ALFA ROMEO 4C,1.8,4,AutoMan-6,2WD,Gasoline,small car,1.0,24,34,28,6,No
8,ALFA ROMEO Giulia,2.9,6,Auto-8,2WD,Gasoline,midsize car,3.0,17,24,20,4,No
9,AUDI A3,2.0,4,AMS-6,4WD,Gasoline,small car,7.0,24,31,27,6,No
10,AUDI A3,2.0,4,AMS-7,2WD,Gasoline,small car,7.0,26,35,29,6,No
11,AUDI A3 Cabriolet,2.0,4,AMS-6,4WD,Gasoline,small car,7.0,22,30,25,5,No
12,AUDI A3 Cabriolet,2.0,4,AMS-7,2WD,Gasoline,small car,7.0,25,33,28,6,No
13,AUDI A4,2.0,4,AMS-7,4WD,Gasoline,small car,5.0,24,34,27,6,No
14,AUDI A4,2.0,4,Man-6,4WD,Gasoline,small car,3.0,24,33,27,6,No
15,AUDI A4 Ultra,2.0,4,AMS-7,2WD,Gasoline,small car,3.0,27,37,31,7,Yes
16,AUDI A5,2.0,4,AMS-7,4WD,Gasoline,small car,5.0,24,34,27,6,No
17,AUDI A5,2.0,4,Man-6,4WD,Gasoline,small car,3.0,24,33,27,6,No
18,AUDI A5 Cabriolet,2.0,4,AMS-7,4WD,Gasoline,small car,5.0,24,34,27,6,No
19,AUDI A5 Sportback quattro,2.0,4,AMS-7,4WD,Gasoline,midsize car,5.0,24,34,27,6,No
20,AUDI A6,2.0,4,AMS-7,2WD,Gasoline,midsize car,5.0,25,34,28,6,No
21,AUDI A6,2.0,4,SemiAuto-8,4WD,Gasoline,midsize car,5.0,22,31,26,5,No
22,AUDI A6,3.0,6,SemiAuto-8,4WD,Gasoline,midsize car,3.0,20,29,23,5,No
23,AUDI A7,3.0,6,SemiAuto-8,4WD,Gasoline,midsize car,3.0,20,29,23,5,No
24,AUDI A8 L,3.0,6,SemiAuto-8,4WD,Gasoline,large car,3.0,19,29,22,4,No